---
layout: default
title: Home
---

<table align="center" width="100%">
 <tbody>
  <tr>
    <td width="10%"/>
    <td width="50%">

      <h1 id="name">Patrick Lancaster</h1>
      
      <p class="top"> 
       Graduate Research Assistant <br>
       <a href="https://personalrobotics.cs.washington.edu/">
        Personal Robotics Lab
       </a> 
       <br>
       <a href="https://sensor.cs.washington.edu/">Sensor Systems Lab</a>
      </p>
      
      <p class="top">
       <b>Contact:</b> planc509@cs.uw.edu <br>
        <a href="docs/cv.pdf">CV</a> | 
        <a href="https://scholar.google.com/citations?user=EGtBsZAAAAAJ&hl=en&oi=ao"/>Google Scholar</a> | 
        <a href="https://www.youtube.com/channel/UCuceiDZVVA6POmYhPlyu6Mg"/>YouTube </a>
      </p>

    </td>
    <td width="30%">
      <img id="patrick_pic" src="patrick2.jpg"/>
    </td>
    <td width="10%"/>
  </tr>
 </tbody>
</table>

<table align="center" width="100%" id="about">
 <tbody>
  <tr>
   <td>
    <p> I am a CSE Ph.D student working with <a href="https://goodrobot.ai/">
        Siddhartha Srinivasa</a> and 
        <a href="https://sensor.cs.washington.edu/jrs.html">Joshua Smith</a> at 
        the University of Washington. My research goal is to enable dexterous 
	robot manipulation in real world scenarios. I am interested in solutions 
        at the intersection of multi-modal perception, reinforcement learning, 
	and adaptive control. To that end, my past research has focused on occlusion 
	robust perception based on fingertip embedded proximity sensors, and 
	model predictive control of light-weight and low power hybrid 
        actuated manipulators.
    </p> 
   </td>
  </tr>
 </tbody>
</table>

<table align="center" width="100%">
 <tbody>
  <tr>
    <td>
     <h2 id="publications">Publications</h2>
    </td>
  </tr>
  {% include inhand_manip.html %}
  {% include es_brakes.html %}
  {% include phri.html %}
  {% include bench.html %}
  {% include mushr.html %}
  {% include elastomer.html %}
  {% include haptic.html %}
  {% include deep.html %}
  {% include sequential.html %}
  {% include radar.html %}
  {% include transmissive.html %}
 </tbody>
</table>

<!--
<div id="intro">
<div id="info">
  <h1 id="name">Patrick Lancaster</h1>
  <h2 id="position">Graduate Research Assistant</h2>
</div>
  <img id="patrick_pic" src="patrick.jpg"/>
</div>

<div class="about">
  <p> I am a CSE Ph.D student working with <a href="https://goodrobot.ai/">Siddhartha Srinivasa</a> and <a href="https://sensor.cs.washington.edu/jrs.html">Joshua Smith</a> at the
					 University of Washington. I graduated with a B.S in Electrical Engineering and a B.S in Applied Mathematics
					 from the University of Washington in 2014.
					 My current research is centered on the developement of new sensors for robot end-effectors
                and how they can be effectively used in robot perception and manipulation. Some of my research
					 interests are sensor fusion, machine learning, and computer vision.</p> 

</div>
<h1>{{"Hello World!Hello World!Hello Worl"|uppercase}}</h1>

<h1 id="publications">Publications</h1>
-->

<!--
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Patrick Lancaster's Homepage</title>
	</head>
	<body>
		<div id="container">
		<div id="header"> <h1 id="name"> Patrick Lancaster </h1> <img id="patrick_pic" src="patrick.jpg"/></div>

		<div> <p> I am a CSE Ph.D student working with <a href="https://goodrobot.ai/">Siddhartha Srinivasa</a> and <a href="https://sensor.cs.washington.edu/jrs.html">Joshua Smith</a> at the
					 University of Washington. I graduated with a B.S in Electrical Engineering and a B.S in Applied Mathematics
					 from the University of Washington in 2014.
					 My current research is centered on the developement of new sensors for robot end-effectors
                and how they can be effectively used in robot perception and manipulation. Some of my research
					 interests are sensor fusion, machine learning, and computer vision.</p> </div>
		<div> <a href="cv.pdf" />CV (June 2016) </a> </div>
		
		<div class="preprints">
		  <article>
		    <header class="preprints-header">
		      <h2>Pre-Prints</h2>
		    </header>
		    <div class="preprints-content">
		      <table>
		        <tbody>
		          <tr>
		            <td>
		              <img src="inhand_manip/inhand_manip.gif"/>
		            </td>
		            <td>
		              <strong> Test test test test test test </strong>
		            </td>
		          </tr>
		        </tbody>
		      </table>
		    </div>
		  </article>
		</div>
		
		<div> <h2> Publications </h2> </div>

		<div> <p class="entry"> <strong>Lancaster, P.</strong>, Smith, J.R., Srinivasa, S.S. (2019, May). Improved Proximity, Contact, and Force Sensing via Optimization of Elastomer-Air Interface Geometry. <em>Robotics and Automation (ICRA), 2019 IEEE/RSJ International Conference on.</em> IEEE. <a href="icra2019.pdf">PDF</a> <a href="https://www.youtube.com/watch?v=8ytTPGirzZ0">Video</a>
                                </p> </div>
		<div> <p class="entry"> <strong>Lancaster, P.</strong>, Yang, B., & Smith, J.R. (2017, September). Improved Object Pose Estimation via Deep Pre-touch Sensing. <em>In Intelligent Robots and Systems (IROS), 2017 IEEE/RSJ International Conference on.</em> IEEE. <a href="iros2017.pdf">PDF</a> <a href="https://www.youtube.com/watch?v=AbXjSkDs6lI">Video</a>
                                </p> </div>
		<div> <p class="entry"> Yang, B, <strong>Lancaster, P.</strong>, & Smith, J.R. (2017, May). Pre-touch Sensing for Sequential Manipulation. <em>Robotics and Automation (ICRA), 2017 IEEE/RSJ International Conference on.</em> IEEE. <a href="icra2017.pdf">PDF</a> <a href="icra2017_vid.mp4">Video</a> <a href="https://bitbucket.org/uwsensors/pr2_pretouch_optical_dist/wiki/Home">Sensor</a>
				</p> </div>
		<div> <p class="entry"> Watts, C.M., <strong>Lancaster, P.</strong>, Pedross-Engel, A., Smith, J.R. & Reynolds, M. S. (2016, September). 2D and 3D Millimeter-Wave Synthetic Aperture Radar Imaging on a PR2 Platform. <em>In Intelligent Robots and Systems (IROS), 2016 IEEE/RSJ International Conference on.</em> IEEE. <a href="iros2016.pdf">PDF</a> <a href="iros2016_vid.mp4">Video</a>
				</p> </div>
		<div> <p class="entry"> Guo, D., <strong>Lancaster, P.</strong>, Jiang, L.T., Sun, F., & Smith, J.R. (2015, September). Transmissive optical pretouch sensing for robotic grasping. <em>In Intelligent Robots and Systems (IROS), 2015 IEEE/RSJ International Conference on</em> (pp. 5891-5897). IEEE. <a href="iros2015.pdf">PDF</a> <a href="https://bitbucket.org/uwsensors/pr2_pretouch_sensor_optical/wiki/Home">Sensor</a>
				</p> </div>
						
		<div> <h2> Posters </h2> </div>
		<div> <p class="entry"> Yang, B., <strong>Lancaster, P.</strong>, & Smith, J.R. (2016, June). Prospects for Combining Task and Motion Planning for Bi-Manual Solution of the Rubik's Cube.<em> In Robotics: Science and Systems 2016. </em>  <a href="rss2016_poster.pdf">Poster</a> <a href="rss2016_abstract.pdf">Abstract</a> <a href="https://www.youtube.com/watch?v=cbbNf2DajKc">Video</a> <a href="https://bitbucket.org/uwsensors/pr2_pretouch_optical_dist/wiki/Home">Sensor</a>
		</p> </div>
	</div>
	</body>
</html>
-->
