*{
/*	border:1px dashed blue;*/
	color:black;
}
/*
body{
	background-image: url("background.JPG");
	background-repeat: no-repeat;
	background-position: center;
	background-width:100%;
	background-height:auto;
	
}*/
#container{
	background:rgba(0,100,100, .5);

	margin-left:9em;
	margin-right:9em;
	padding:1em;
}
html { 
 /* background: url(background2.JPG) no-repeat rgb(30,30,30)  center;
  background-size: 80%;*/
}

div{

}

h1{
	font-family:Verdana,Sans-Serif;
}

h2{
	font-family:Verdana,Sans-Serif;
	margin-bottom:5px;
}

#header{
	
}

#patrick_pic{
	height:10em;
	width:10em;
	float:right;
	display:block-inline;
	border:3px solid black;
	
}

#name{
	display:inline;
	margin:auto;
}

.entry{
	margin-top:0px;
}

a{
	text-decoration: none;
	color:blue;
}
