<tr class="pub_row">
  <td width="35%" class="pub_img">
   <img width="100%" src="clips/es_brakes.gif"/>
  </td>
  <td width="65%" class="pub_text">
    <p class="no_top_margin">
     <a href="https://arxiv.org/abs/2204.02460">
      <b>Electrostatic Brakes Enable Individual Joint Control of Underactuated, Highly Articulated Robots</b> <br>
     </a>
    </p>
    <p>
      <b>Patrick Lancaster</b>, Christoforos Mavrogiannis, Siddhartha
      Srinivasa, Joshua Smith <br>
    </p>
    <p>
      Submitted to IJRR
    </p>
  </td>
</tr>
