<tr class="pub_row">
  <td width="35%" class="pub_img">
   <img width="100%" src="clips/inhand_manip.gif"/>
  </td>
  <td width="65%" class="pub_text">
    <p class="no_top_margin">
     <a href="https://arxiv.org/abs/2204.02371">
       <b>Proximity Sensing for Pose Estimation During In-Hand Manipulation</b> <br>
     </a>
    </p>
    <p>
      <b>Patrick Lancaster</b>, Pratik Gyawali, Christoforos Mavrogiannis, Siddhartha
      Srinivasa, Joshua Smith <br>
    </p>
    <p>
      IROS 2022
    </p>
  </td>
</tr>
