<tr class="pub_row">
  <td width="35%" class="pub_img">
   <img width="100%" src="clips/reorient_modemv2.gif"/>
  </td>
  <td width="65%" class="pub_text">
    <p class="no_top_margin">
     <a href="https://arxiv.org/abs/2309.14236f">
       <b>MoDem-V2: Visuo-Motor World Models for Real-World Robot Manipulation</b> <br>
     </a>
    </p>
    <p>
      <b>Patrick Lancaster</b>, Nicklas Hansen, Aravind Rejeswaran, Vikash Kumar <br>
    </p>
    <p>
      <a href="https://sites.google.com/view/modem-v2"> Website </a> | Submitted to ICRA 2024
    </p>
  </td>
</tr>
