<tr class="pub_row">
  <td width="35%" class="pub_img">
   <img width="100%" src="clips/mushr.gif"/>
  </td>
  <td width="65%" class="pub_text">
    <p class="no_top_margin">
     <a href="https://arxiv.org/abs/1908.08031">
      <b>MuSHR: A Low-Cost, Open-Source Robotic Racecar for Education and Research</b> <br>
     </a>
    </p>
    <p id="long_authors">
      Siddhartha S. Srinivasa, <b>Patrick Lancaster</b>, Johan Michalove, 
      Matt Schmittle, Colin Summers, Matthew Rockett, Joshua R. Smith, 
      Sanjiban Choudhury, Christoforos Mavrogiannis, Fereshteh Sadeghi <br>
    </p>
    <p>
      <a href="https://mushr.io">mushr.io</a>
    </p>
  </td>
</tr>
