<tr class="pub_row">
  <td width="35%" class="pub_img">
   <img width="100%" src="clips/sword.gif"/>
  </td>
  <td width="65%" class="pub_text">
    <p class="no_top_margin">
     <a href="https://proceedings.mlr.press/v164/yang22e.html">
      <b>Motivating Physical Activity via Competitive Human-Robot Interaction</b> <br>
     </a>
    </p>
    <p>
      Boling Yang, Golnaz Habibi, <b>Patrick E. Lancaster</b>, Byron Boots, 
      Joshua R. Smith <br>
    </p>
    <p>
      CoRL 2022
    </p>
  </td>
</tr>

 
