<tr class="pub_row">
  <td width="35%" class="pub_img">
   <img width="100%" src="clips/radar.gif"/>
  </td>
  <td width="65%" class="pub_text">
    <p class="no_top_margin">
     <a href="/docs/papers/iros2016.pdf">
      <b>2D and 3D Millimeter-Wave Synthetic Aperture Radar Imaging on a PR2 Platform</b> <br>
     </a>
    </p>
    <p>
      Claire M. Watts, <b>Patrick Lancaster</b>, Andreas Pedross-Engel, Joshua R. Smith, and Matthew S. Reynolds <br>
    </p>
    <p>
      IROS 2016
    </p>
  </td>
</tr>
